$font-primary: "Open Sans", sans-serif;
$font-secondary: "Merriweather", sans-serif;


$color-first: #3C3C3C;
$color-second:#F0F1F1; 
$color-third: #5E5322;
$color-four:#FAD648;
$color-five:#737373;
$background1: #2B2B2B;
$background2: #FFFFFF;
$h1-padding: 40px;
$fontFamily: "Open Sans", sans-serif;
$colorhover: #737373;