#LoginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 40%;
  label,
  input {
    width: 100%;
  }
  input {
    font-size: 20px;
  }
}
#LoginContainerHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.login {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#LoginContainerHeader > h1 {
  text-align: center;
  font: normal normal normal 40px/55px $font-primary;
  letter-spacing: -0.8px;
  color: $color-first;
  opacity: 1;
}

#LoginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 450px;
  background-color: $color-second;
  width: 100%;
  margin: 20px 0 20px 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  label {
    input {
      border: 0;
      background-color: $color-second;
      border-bottom: 0.5px solid black;
    }
    input:focus-within {
      border-bottom: 1px solid red;
    }
  }
}
.LoginFormContainer {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
  justify-content: center;
  text-align: left;

  h1 {
    color: red;
    font-family: $font-primary;
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
  }
}
#LoginButton {
  background-color: white;
  font-family: $font-primary;
  font-weight: lighter;
  font-size: 20px;
  border: 0;
  padding: 5px 15px 5px 15px;
  margin-top: 30px;
  border: 0.5px solid black;
}

.LogOutButton {
  border: 0.5px solid black;
  color: black;
  text-decoration: none;
  padding: 5px 15px 5px 15px;
  margin: 20px;
  background-color: white;
  font-size: 100%;
  font-family: $font-primary;
  vertical-align: baseline;
}
